{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-select mx-auto w-auto" aria-label="Default select example" name="symbol">
            <option disabled selected value="">Symbol</option>
            {% for transaction in transactions %}
                <option value="{{ transaction['symbol'] }}">{{ transaction["symbol"] }}</option>
            {% endfor %}
        </select>

        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
